

<div class="text-center">
  <h1> IBM Cloud </h1>
</div>

<br>

<div class="row">
  <div class="col-lg-6">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Natural Language Understanding</h6>
      </div>
      <div class="card-body">
        <div class="text-center">
        </div>
        <p>Analice textos con la comprensión del lenguaje natural para extraer metadatos del contenido, como: conceptos, entidades, palabras clave, categorías, sentimientos, emociones, relaciones y roles semánticos.</p>
        <a href="<%= textAnalyze_path %>">Natural Language Understanding &rarr;</a>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Speech to Text</h6>
      </div>
      <div class="card-body">
        <div class="text-center">
        </div>
        <p>El servicio Speech to Text brinda una API para añadir funciones de transcripción de voz a las aplicaciones. Combina información sobre la estructura del lenguaje con la composición de la señal de audio.</p>
        <a href="<%= speechToText_path %>">Speech to Text &rarr;</a>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Natural Language Understanding para URL's</h6>
      </div>
      <div class="card-body">
        <div class="text-center">
        </div>
        <p>Analice URL's con la comprensión del lenguaje natural para extraer metadatos del contenido, como: conceptos, entidades, palabras clave, categorías, sentimientos, emociones, relaciones y roles semánticos.</p>
        <a href="<%= urlAnalysis_path %>">Natural Language Understanding para URL's &rarr;</a>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">RSS Feed <i class="fa fa-rss" aria-hidden="true"></i></h6>
      </div>
      <div class="card-body">
        <div class="text-center">
        </div>
        <p>Utilizando el RSS del periódico <a href="https://elpais.com/america/">El País</a> se muestran las noticias más recientes y en tiempo real. Además, se analiza nota por nota utilizando NLU.</p>
        <a href="<%= urlAnalysis_path %>">El País RSS &rarr;</a>
      </div>
    </div>
  </div>


</div>



