
<div class="text-center">
  <h1>
    El País RSS <i class="fa fa-rss" aria-hidden="true"></i>
  </h1>
</div>

<br>

<div class="row">

  <% @selectedItems.each do |item|%>

  <div class="col-lg-6">
    <div class="card shadow mb-4">
      <!-- Card Header - Accordion -->
      <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
        <h6 class="m-0 font-weight-bold text-primary">
          <%== item.title %>
        </h6>
      </a>
      <!-- Card Content - Collapse -->
      <div class="collapse hide" id="collapseCardExample">
        <div class="card-body">
          <%== item.content_encoded %>
          
          <div class="text-center">
            <%= link_to "Analizar", rssSearch_path(:link => item.link), class: "btn btn-primary" %>
          </div>

        </div>
      </div>
    </div>


  </div>

  <% end %>

</div>