<div class="text-center">
  <h1>Speech to Text</h1>
</div>
<br>
<br>
<div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-left-primary shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <%= form_with(url: {action: :speechToText}, multipart: true) do %>
          <%= file_field_tag 'audio' %>
          <br>
          <br>
          <div>
            <%=  submit_tag  'Subir archivo wav', class: "btn btn-primary"%>
          </div>

        <% end %>

      </div>
    </div>
  </div>
</div>